/*
5 shades out of base color.

Color_100 = #466BB0
Color_80  = #6B89C0
Color_60  = #90A6D0
Color_40  = #B5C4DF
Color_20  = #DAE1EF
*/

.content {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background-color: floralwhite;
    position: relative;
}

.banner {
    background-color: #466BB0;
    color: whitesmoke;
    font-size: 32px;
    text-align: center;
    padding: 5px;
}

.footer {
    text-align: center;
    background-color: #466BB0;
    color: white;
    padding: 5px;
}

.header {
    text-align: center;
    font-size: 32px;
    background-color: #466BB0;
    color: white;
}

.header .table-caption {
    background-color: #466BB0;
}

.header .table {
    background-color: floralwhite;
    color: black;
    text-align: left;
    font-size: 16px;
}

.header .table-row-group {
    display: none;
}

.header .column-1 {
    width: 14px;
}

.header .column-2 {
    width: 200px;
}

/*region Table Display Classes*/
.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.table-caption {
    display: table-caption;
    position: relative;
}

.table-header-group {
    display: table-header-group;
}

.table-row {
    display: table-row;
}

.table-row-group {
    display: table-row-group;
}

.table-cell, .table-head {
    display: table-cell;
    vertical-align: middle;
    padding: 2px;
}

.table-head {
    font-weight: bold;
    font-size: 16px;
    background-color: #B5C4DF;
}
/*endregion*/

.table-caption {
    padding: 5px;
    text-align: center;
    font-size: 28px;
    color: white;
}

.section .table-caption {

    background-color: #6B89C0;
}

.table-caption img {
    position: absolute;
    left: 9px;
    top: 9px;
}

.table-head.guid {
    width: 240px;
}

.table-cell.guid {
    font-family: monospace;
    font-size: 10px;
    text-align: right;
    white-space:nowrap;
}

.guid {
    text-align: center;
}

table {
    width: 100%;
}

.section-head {
    background-color: #6B89C0;
    font-weight: bold;
    font-size: 28px;
    color: white;
    text-align: center;
    position: relative;
    height: 36px;
}

.section-head img.toggle {
    position: absolute;
    left: 10px;
    top: 2px;
}

.parameter-links-section {
    display: none;
}

.section-item {
    padding-top: 2px;
    padding-left: 50px;
    padding-bottom: 2px;

}

.highlighttable {
    background-color: whitesmoke;
    border: 1px solid gray;
    table-layout: fixed;
}

a {
    color: black;
    text-decoration: none;
}

input {
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

.disabled a {
    color: gray;
}

.task-container {
    position: relative;
}

span.guid {
    float: right;
    margin-right: 10px;
    color: #B5C4E0;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
    opacity: .8;
}

div.disabled {
    font-size: xx-large;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

td.column-header {
    background-color: #DAE1EF;
    font-weight: bold;
}

td.greyed-out-cell {
    color: gray;
}

th {
    background-color: #DAE1EF;
    font-weight: bold;
    text-align: left;
}

th.icon {
    width: 14px;
}

th.param-name {
    width: 150px;
}

th.enabled {
    width: 80px;
}

th.guid {
    width: 300px;
    text-align: center;
}

th.resourcetype {
    width: 150px;
    text-align: center;
}

td.disabled {
    color: darkgray;
    font-weight: lighter;
}

td.enabled {
    text-align: center;
}

td.guid {
    text-align: center;
    font-family: monospace;
}

td.resourcetype {
    text-align: center;
}

td.cell-emphasize {
    font-weight: bold;
}

td.index-header {
    background-color: #6B89C0;
    font-weight: bold;
    font-size: x-large;
    color: white;
    text-align: center;
}

td.index-listitem {
    /* */
}

td.linenos {
    width: 30px;
    text-align: right;
    color: darkgray;
}

img.label-icon-indent-0 {
    margin-right: 5px;
    margin-left: 10px;
}

img.label-icon-indent-1 {
    margin-right: 5px;
    margin-left: 20px;
}

img.label-icon-indent-2 {
    margin-right: 5px;
    margin-left: 30px;
}

td.label-FILEOPERATIONS {
    width: 100px;
}

td.label-PWRSHELL {
    width: 100px;
}

td.label-SHUTDOWN {
    width: 400px;
}

td.code {
    padding-left: 10px;
    overflow: scroll;
}

td.title-1 {
    font-size: x-large;
    background-color: #466BB0;
    color: white;
    text-align: center;
    padding: 5px;
}

td.title-2 {
    font-size: larger;
    background-color: #6B89C0;
    color: white;
    text-align: left;
    padding: 2px;
    padding-left: 10px;
}