<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.title }}</title>
    <link rel="stylesheet" type="text/css" href="../../css/bbreport.css" />
    <link rel="stylesheet" type="text/css" href="../../css/vs.css" />
    <script src="../../js/bbreport.js"></script>
</head>
<body>
{% import 'macros.html' as macros with context %}
<div id="content">
    <table>
        <tr><td class="title-1" colspan="2">{{ project.title }}</td></tr>
        <tr><td>GUID</td>            <td>{{ project.guid }}</td></tr>
        <tr><td>Enabled</td>         <td>{{ project.enabled }}</td></tr>
        <tr><td>Description</td>     <td>{{ project.description }}</td></tr>
        <tr><td>Version</td>         <td>{{ project.version }}</td></tr>
        <tr><td>Version Comment</td> <td>{{ project.versioncomment }}</td></tr>
        <tr><td>Folder Path</td>     <td>{{ project.folderpath }}</td></tr>
    </table>
    {% if project.parameters|length > 0 %}
    <table>
        <tr><td class="title-2" colspan="5">Parameters</td><td class="title-2" colspan="5">Input</td> </tr>
        <tr><th class="param-name">Name</th>
            <th class="icon">&nbsp;</th>
            <th>Type</th>
            <th>Default Value</th>
            <th>Description</th>
            <th class="icon"><img src="../../img/iconmonstr-brick-6-12.png"
                                  title="When importing Building Block"/></th>
            <th class="icon"><img src="../../img/iconmonstr-eye-6-12.png"
                                  title="Show previous value"/></th>
            <th class="icon"><img src="../../img/iconmonstr-time-9-12.png"
                                  title="When scheduling Job"/></th>
            <th class="icon"><img src="../../img/iconmonstr-eye-6-12.png"
                                  title="Show previous value"/></th>
            <th class="icon"><img src="../../img/iconmonstr-recycling-1-12.png"
                                  title="Erase previous value when rescheduling"/></th>
        </tr>
        {% for parameter in project.parameters %}
        <tr><td>{{ parameter.name }}</td>
            <td>
                {% if parameter.links|length > 0 %}
                <img src="../../img/iconmonstr-link-1-12.png"
                     id="toggle-{{ parameter.name }}-links"
                     onclick="toggle_display('{{ parameter.name }}-links', 'toggle-{{ parameter.name }}-links', false)"
                     />
                {% else %}
                &nbsp;
                {% endif %}
            </td>
            <td>{{ parameter.type }}</td>
            <td>{{ parameter.value }}</td>
            <td>{{ parameter.description }}</td>
            <td>{{ macros.column_checkbox(parameter.input.on_import) }}</td>
            <td>{{ macros.column_checkbox(parameter.input.importprev) }}</td>
            <td>{{ macros.column_checkbox(parameter.input.on_schedule) }}</td>
            <td>{{ macros.column_checkbox(parameter.input.sched_prev) }}</td>
            <td>{{ macros.column_checkbox(parameter.input.sched_erase) }}</td>
        </tr>
        {% if parameter.links|length > 0 %}
        <tr id="{{ parameter.name }}-links"
            class="parameter-links-section">
            <td colspan="10">
                <table>
                {% for link in parameter.links %}
                    <tr class="parameter-link-item">
                        <td>
                    {% if link.linktype =='Set' %}
                        Set initial value for {{ link.name }} in <a href="../{{ link.targettype }}s/{{ link.targetguid|safe }}.html">{{ link.targetname }}</a>
                    {% elif link.linktype =='Get' %}
                        Get final value from {{ link.name }} in <a href="../{{ link.targettype }}s/{{ link.targetguid|safe }}.html">{{ link.targetname }}</a>
                    {% elif link.linktype =='Both' %}
                        Set, then Get from {{ link.name }} in <a href="../{{ link.targettype }}s/{{ link.targetguid|safe }}.html">{{ link.targetname }}</a>
                    {% endif %}
                    </td>
                    </tr>
                {% endfor %}
                    </table>
            </td>
        </tr>
        {% endif  %}
        {% endfor %}
    </table>
    {% endif %}

    <table>
        <tr><td class="title-2" colspan="3">Modules</td></tr>
        <tr><th class="column-header">Name</th>
            <th class="enabled">Enabled</th>
            <th class="guid">GUID</th>
        </tr>
        {% for module in project.modules %}
        {% if module.enabled == 'yes' %}
        <tr>
            <td><a href="../modules/{{ module.guid }}.html">{{ module.name }}</a></td>
            <td class="enabled">{{ module.enabled }}</td>
            <td class="guid">{{ module.guid }}</td>
        </tr>
        {% else %}
        <tr>
            <td class="disabled"><a href="../modules/{{ module.guid }}.html">{{ module.name }}</a></td>
            <td class="disabled enabled">{{ module.enabled }}</td>
            <td class="disabled enabled guid">{{ module.guid }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

</div>
</body>
</html>