/*
5 shades out of base color.

Color_100 = #466BB0
Color_80  = #6B89C0
Color_60  = #90A6D0
Color_40  = #B5C4DF
Color_20  = #DAE1EF
*/

#content {
    width: 1080px;
    margin-left: 120px;
    margin-right: auto;
}

table {
    width: 100%;
}

td.column-header {
    background-color: #DAE1EF;
    font-weight: bold;
}

td:first-of-type {
    width: 150px;
}

td.cell-emphasize {
    font-weight: bold;
}

td.index-header {
    background-color: #6B89C0;
    font-weight: bold;
    font-size: x-large;
    color: white;
    text-align: center;
}

td.index-listitem {
    /* */
}

td.linenos {
    width: 30px;
    text-align: right;
    color: darkgray;
}

td.label-FILEOPERATIONS {
    width: 100px;
}

td.label-PWRSHELL {
    width: 100px;
}

td.label-SHUTDOWN {
    width: 400px;
}

td.code {
    padding-left: 10px;
}

td.title-1 {
    font-size: x-large;
    background-color: #466BB0;
    color: white;
    text-align: center;
    padding: 5px;
}

td.title-2 {
    font-size: larger;
    background-color: #6B89C0;
    color: white;
    text-align: center;
    padding: 3px;
}