{# Template for DOWNLOAD tasks #}
    <table>
        <tr><td class="label-DOWNLOAD">Enable logging</td><td>{{ download.ysnlog }}</td></tr>
        <tr><td class="label-DOWNLOAD">Number of Resources</td><td>{{ download.resources|length }}</td></tr>
        <tr><td class="label-DOWNLOAD">Specify destination folder</td><td>{{ download.ysndestination }}</td></tr>
        {% if download.ysndestination == "yes" %}
            <tr><td class="label-DOWNLOAD">Folder</td><td>{{ download.destination }}</td></tr>
        {% endif %}
    </table>
    <table>
        <tr>
            <td class="column-header">Name</td>
            <td class="column-header">GUID</td>
            <td class="column-header">Type</td>
        </tr>
        {% for resource in download.resources %}
         <tr>
             <td><a href="../resources/{{ resource.guid }}.html">{{ resource.name }}</a></td>
            <td>{{ resource.guid }}</td>
            <td>{{ resource.type }}</td>
        </tr>
        {% endfor %}
    </table>