<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Building Block Instant Report</title>
    <link rel="stylesheet" type="text/css" href="bbreport.css"/>
</head>
<body>
<div id="content">
    {% if index.projects %}
    <table>
        <tr>
            <td class="index-header">Projects</td>
        </tr>
        {% for project in index.projects %}
        <tr>
            <td class="index-listitem"><a href="projects/{{ project.guid }}.html">{{ project.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if index.resources %}
    <table>
        <tr>
            <td class="index-header">Resources</td>
        </tr>
        {% for resource in index.resources %}
        <tr>
            <td class="index-listitem"><a href="resources/{{ resource.guid }}.html">{{resource.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if index.modules %}
    <table>
        <tr>
            <td class="index-header">Modules</td>
        </tr>
        {% for module in index.modules %}
        <tr>
            <td class="index-listitem"><a href="modules/{{ module.guid }}.html">{{ module.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
</body>
</html>