<!--
    The index.html does not get the normal header, as the file sits on level higher as the rest
    When serving files via a webserver this poses no issue, but this is intended to be served
    from the filesystem.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Building Block Instant Report</title>
    <link rel="stylesheet" type="text/css" href="./css/bbreport.css"/>
    <link rel="stylesheet" type="text/css" href="./css/vs.css"/>
    <script src="./js/bbreport.js"></script>
</head>
<body>
<div class="content">
    <!--region Projects-->
    {% if index.projects %}
    <div class="section" id="projects">
        <div class="table">
            <div class="table-caption">
                <img id="projects-toggle"
                     src="../img/iconmonstr-task-1-24.png"
                     onclick="toggle_display('projects-group', 'table-row-group')"/>Projects
            </div>
            <div class="table-row-group" id="projects-group">
                <div class="table-row">
                    <div class="table-head"></div>
                    <div class="table-head">Project Name</div>
                    <div class="table-head guid">GUID</div>
                </div>
                {% for project in index.projects %}
                <div class="table-row">
                    <div class="table-cell">
                        &nbsp;
                    </div>
                    <div class="table-cell">
                        <a href="./projects/{{ project.guid }}.html">{{ project.name }}</a>
                    </div>
                    <div class="table-cell guid">
                        {{ project.guid }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <!--endregion-->
    <!--region Modules-->
    {% if index.projects %}
    <div class="section" id="modules">
        <div class="table">
            <div class="table-caption">
                <img id="modules-toggle"
                     src="../img/iconmonstr-arrow-12-24.png"
                     onclick="toggle_display('modules-group', 'table-row-group')"/>Modules
            </div>
            <div class="table-row-group" id="modules-group">
                <div class="table-row">
                    <div class="table-head"></div>
                    <div class="table-head">Module Name</div>
                    <div class="table-head guid">GUID</div>
                </div>
                {% for module in index.modules %}
                <div class="table-row">
                    <div class="table-cell">
                        <div>&nbsp;</div>
                    </div>
                    <div class="table-cell">
                        <div><a href="./modules/{{ module.guid }}.html">{{ module.name }}</a></div>
                    </div>
                    <div class="table-cell guid">
                        <div>{{ module.guid }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <!--endregion-->
    <!--region Resources-->
    {% if index.projects %}
    <div class="section" id="resources">
        <div class="table">
            <div class="table-caption">
                <img id="resources-toggle"
                     src="../img/iconmonstr-star-3-24.png"
                     onclick="toggle_display('resources-group', 'table-row-group')"/>Resources
            </div>
            <div class="table-row-group" id="resources-group">
                <div class="table-row">
                    <div class="table-head"></div>
                    <div class="table-head">Resource Name</div>
                    <div class="table-head guid">GUID</div>
                </div>
                {% for resource in index.resources %}
                <div class="table-row">
                    <div class="table-cell">
                        <div>&nbsp;</div>
                    </div>
                    <div class="table-cell">
                        <div><a href="./resources/{{ resource.guid }}.html">{{ resource.name }}</a></div>
                    </div>
                    <div class="table-cell guid">
                        <div>{{ resource.guid }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <!--endregion-->
    {% include 'footer.html' %}