{% macro checked(indent='0') -%}
    <img src="../img/iconmonstr-checkbox-9-12.png" class="label-icon-indent-{{ indent }}" />
{%- endmacro %}

{% macro unchecked(indent='0') -%}
    <img src="../img/iconmonstr-checkbox-11-12.png" class="label-icon-indent-{{ indent }}" />
{%- endmacro %}

{% macro column_checkbox(bool) -%}
    {% if bool %}
        <img src="../img/iconmonstr-checkbox-9-12.png" class="column-checkbox" />
    {% else %}
        <img src="../img/iconmonstr-checkbox-11-12.png" class="column-checkbox" />
    {% endif %}
{%- endmacro %}