{% include 'header.html' %}
<div class="banner">{{ module.title }}</div>
<div class="section" id="module-properties">
    <div class="table">
        <div class="table-row-group">
            <div class="table-row">
                <div class="table-cell">GUID</div>
                <div>{{ module.guid }}</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Enabled</div>
                <div>{{ module.enabled }}</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Description</div>
                <div>{{ module.description }}</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Version</div>
                <div>{{ module.version }}</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Version Comment</div>
                <div>{{ module.versioncomment }}</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Folder Path</div>
                <div>{{ module.folderpath }}</div>
            </div>
        </div>
    </div>
</div>

{% if module.parameters|length > 0 %}
<div class="section" id="module-parameters">
    <div class="table">
        <div class="table-caption">
            <img id="parameters-toggle"
                 src="../img/iconmonstr-tag-4-24.png"
                 onclick="toggle_display('parameters-group', 'table-row-group')"/>Parameters
        </div>
        <div class="table-row-group" id="parameters-group">
            <div class="table-row">
                <div class="table-head">Name</div>
                <div class="table-head">Type</div>
                <div class="table-head">Default Value</div>
                <div class="table-head">Description</div>
            </div>
            {% for parameter in module.parameters %}
            <div class="table-row">
                <div class="table-cell">{{ parameter.name }}</div>
                <div class="table-cell">{{ parameter.type }}</div>
                <div class="table-cell">{{ parameter.value }}</div>
                <div class="table-cell">{{ parameter.description }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% for task in module.tasks %}
<div class="section">
    <div class="table">
        <div class="table-caption">
            <img id="task-toggle"
                 src="../img/iconmonstr-tag-4-24.png"
                 onclick="toggle_display('task-{{ task.cssid}}', 'table-row-group')"/>Task - {{ task.displayname }}
        </div>
        <div class="table-row-group" id="task-{{ task.cssid }}">
            <div class="table-row">
                <div class="table-cell">{{ task.settings|safe }}</div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% include 'footer.html' %}