<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ module.title }}</title>
    <link rel="stylesheet" type="text/css" href="../bbreport.css" />
    <link rel="stylesheet" type="text/css" href="../vs.css" />
</head>
<body>
<div id="content">
    <table>
        <TR><TD class="title-1" colspan="2">{{ module.title }}</TD></TR>
        <TR><TD>GUID</TD>            <TD>{{ module.guid }}</TD></TR>
        <TR><TD>Enabled</TD>         <TD>{{ module.enabled }}</TD></TR>
        <TR><TD>Description</TD>     <TD>{{ module.description }}</TD></TR>
        <TR><TD>Version</TD>         <TD>{{ module.verison }}</TD></TR>
        <TR><TD>Version Comment</TD> <TD>{{ module.versioncomment }}</TD></TR>
        <TR><TD>Folder Path</TD>     <TD>{{ module.folderpath }}</TD></TR>
    </table>
    {% if module.parameters|length > 0 %}
    <table>
        <TR><TD class="title-2" colspan="4">Parameters</TD></TR>
        <TR><TD class="column-header">Name</TD>
            <TD class="column-header">Type</TD>
            <TD class="column-header">Default Value</TD>
            <TD class="column-header">Description</TD>
        </TR>
        {% for parameter in module.parameters %}
        <TR><TD>{{ parameter.name }}</TD>
            <TD>{{ parameter.type }}</TD>
            <TD>{{ parameter.value }}</TD>
            <TD>{{ parameter.description }}</TD></TR>
        {% endfor %}
    </table>
    {% endif %}
    {% for task in module.tasks %}
    <table>
        <TR><TD class="title-2" colspan="2">Task - {{ task.type }}</TD></TR>
        <TR><TD class="label-{{ task.type }}">GUID</TD>    <TD>{{ task.guid }}</TD></TR>
        <TR><TD class="label-{{ task.type }}">Enabled</TD> <TD>{{ task.enabled }}</TD></TR>
    </table>
    {{ task.settings|safe }}
    {% endfor %}
</div>
</body>
</html>