{% include 'header.html' %}
{% import 'macros.html' as macros with context %}
<div class="banner">{{ project.title }}</div>
<div class="section" id="project-properties">
    <div class="table">
        <div class="table-row-group">
            <div class="table-row">
                <div class="table-cell">GUID</div>
                <div>{{ project.guid }}</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Enabled</div>
                <div class="table-cell">{{ project.enabled }}</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Description</div>
                <div class="table-cell">{{ project.description }}</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Version</div>
                <div class="table-cell">{{ project.version }}</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Version Comment</div>
                <div class="table-cell">{{ project.versioncomment }}</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Folder Path</div>
                <div class="table-cell">{{ project.folderpath }}</div>
            </div>
        </div>
    </div>
</div>
{% if project.parameters|length > 0 %}
<!-- Parameter table (nested)-->
<div class="section" id="project-parameters">
    <div class="table">
        <div class="table-caption">
            <img id="parameters-toggle"
                 src="../img/iconmonstr-tag-4-24.png"
                 onclick="toggle_display('parameters-group', 'table-row-group')"/>Parameters
        </div>
        <div class="table-row-group" id="parameters-group">
            <div class="table-row">
                <!-- Parameter table header-->
                <div class="table-cell">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-head parameter-name">Name</div>
                            <div class="table-head icon">&nbsp;</div>
                            <div class="table-head parameter-type">Type</div>
                            <div class="table-head parameter-value">Default Value</div>
                            <div class="table-head parameter-description">Description</div>
                            <div class="table-head icon"><img src="../../img/iconmonstr-brick-6-12.png"
                                                              title="When importing Building Block"/></div>
                            <div class="table-head icon"><img src="../../img/iconmonstr-eye-6-12.png"
                                                              title="Show previous value"/></div>
                            <div class="table-head icon"><img src="../../img/iconmonstr-time-9-12.png"
                                                              title="When scheduling Job"/></div>
                            <div class="table-head icon"><img src="../../img/iconmonstr-eye-6-12.png"
                                                              title="Show previous value"/></div>
                            <div class="table-head icon"><img src="../../img/iconmonstr-recycling-1-12.png"
                                                              title="Erase previous value when rescheduling"/></div>

                        </div>
                    </div>
                </div>
            </div>
            {% for parameter in project.parameters %}
            <div class="table-row">
                <!-- Parameter table -->
                <div class="table-cell">
                    <div class="table">
                        <div class="table-row">
                            <div class="table-cell parameter-name">{{ parameter.name }}</div>
                            <div class="table-cell icon">
                                {% if parameter.links|length > 0 %}
                                <img src="../../img/iconmonstr-link-1-12.png"
                                     id="toggle-{{ parameter.name }}-links"
                                     onclick="toggle_display('{{ parameter.name }}-links', 'table')"/>
                                {% else %}
                                &nbsp;&nbsp;
                                {% endif %}
                            </div>
                            <div class="table-cell parameter-type">{{ parameter.type }}</div>
                            <div class="table-cell parameter-value">{{ parameter.value }}</div>
                            <div class="table-cell parameter-description">{{ parameter.description }}</div>
                            <div class="table-cell icon">{{ macros.column_checkbox(parameter.input.on_import) }}</div>
                            <div class="table-cell icon">{{ macros.column_checkbox(parameter.input.importprev) }}</div>
                            <div class="table-cell icon">{{ macros.column_checkbox(parameter.input.on_schedule) }}</div>
                            <div class="table-cell icon">{{ macros.column_checkbox(parameter.input.sched_prev) }}</div>
                            <div class="table-cell icon">{{ macros.column_checkbox(parameter.input.sched_erase) }}</div>

                        </div>
                    </div>

                    {% if parameter.links|length > 0 %}
                    <div class="table parameter-links" id="{{ parameter.name }}-links">
                        {% for link in parameter.links %}
                        <div class="table-row">
                            <div class="table-cell parameter-link">
                                {% if link.linktype =='Set' %}
                                Set initial value for {{ link.name }} in
                                <a href="../{{ link.targettype }}s/{{ link.targetguid|safe }}.html">{{ link.targetname}}</a>
                                {% elif link.linktype =='Get' %}
                                Get final value from {{ link.name }} in
                                <a href="../{{ link.targettype }}s/{{ link.targetguid|safe }}.html">{{ link.targetname}}</a>
                                {% elif link.linktype =='Both' %}
                                Set, then Get from {{ link.name }} in
                                <a href="../{{ link.targettype }}s/{{ link.targetguid|safe }}.html">{{ link.targetname}}</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
    <table>
        <tr><td class="title-2" colspan="3">Modules</td></tr>
        <tr><th class="column-header">Name</th>
            <th class="enabled">Enabled</th>
            <th class="guid">GUID</th>
        </tr>
        {% for module in project.modules %}
        {% if module.enabled == 'yes' %}
        <tr>
            <td><a href="../modules/{{ module.guid }}.html">{{ module.name }}</a></td>
            <td class="enabled">{{ module.enabled }}</td>
            <td class="guid">{{ module.guid }}</td>
        </tr>
        {% else %}
        <tr>
            <td class="disabled"><a href="../modules/{{ module.guid }}.html">{{ module.name }}</a></td>
            <td class="disabled enabled">{{ module.enabled }}</td>
            <td class="disabled enabled guid">{{ module.guid }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

</div>
</body>
</html>