<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.title }}</title>
    <link rel="stylesheet" type="text/css" href="../bbreport.css" />
    <link rel="stylesheet" type="text/css" href="../vs.css" />
</head>
<body>
{% import 'macros.html' as macros with context %}
<div id="content">
    <table>
        <tr><td class="title-1" colspan="2">{{ project.title }}</td></tr>
        <tr><td>GUID</td>            <td>{{ project.guid }}</td></tr>
        <tr><td>Enabled</td>         <td>{{ project.enabled }}</td></tr>
        <tr><td>Description</td>     <td>{{ project.description }}</td></tr>
        <tr><td>Version</td>         <td>{{ project.version }}</td></tr>
        <tr><td>Version Comment</td> <td>{{ project.versioncomment }}</td></tr>
        <tr><td>Folder Path</td>     <td>{{ project.folderpath }}</td></tr>
    </table>
    {% if project.parameters|length > 0 %}
    <table>
        <tr><td class="title-2" colspan="4">Parameters</td><td class="title-2" colspan="5">Input</td> </tr>
        <tr><th>Name</th>
            <th>Type</th>
            <th>Default Value</th>
            <th>Description</th>
            <th class="icon"><img src="../img/iconmonstr-brick-6-12.png" /></th>
            <th class="icon"><img src="../img/iconmonstr-eye-6-12.png" /></th>
            <th class="icon"><img src="../img/iconmonstr-time-9-12.png" /></th>
            <th class="icon"><img src="../img/iconmonstr-eye-6-12.png" /></th>
            <th class="icon"><img src="../img/iconmonstr-recycling-1-12.png" /></th>
        </tr>
        {% for parameter in project.parameters %}
        <tr><td>{{ parameter.name }}</td>
            <td>{{ parameter.type }}</td>
            <td>{{ parameter.value }}</td>
            <td>{{ parameter.description }}</td>
            <td>{{ macros.column_checkbox(parameter.input.on_import) }}</td>
            <td>{{ macros.column_checkbox(parameter.input.importprev) }}</td>
            <td>{{ macros.column_checkbox(parameter.input.on_schedule) }}</td>
            <td>{{ macros.column_checkbox(parameter.input.sched_prev) }}</td>
            <td>{{ macros.column_checkbox(parameter.input.sched_erase) }}</td>
        </tr>
        {% if parameter.links|length > 0 %}
        <tr>
            <td>&nbsp;</td>
            <td colspan="8">
                <table>
                    <tr>
                        <th>LinkAction</th>
                        <th>Target</th>
                        <th>Parameter</th>
                    </tr>
                {% for link in parameter.links %}
                    <tr>
                        <td>{{ link.linktype }}</td>
                        <td><a href="../{{ link.targettype }}s/{{ link.targetguid|safe }}.html">{{ link.targetname }}</a></td>
                        <td>{{ link.name }}</td>
                    </tr>
                {% endfor %}
                </table>
            </td>
        </tr>
        {% endif  %}
        {% endfor %}
    </table>
    {% endif %}

    <table>
        <tr><td class="title-2" colspan="3">Modules</td></tr>
        <tr><th class="column-header">Name</th>
            <th class="enabled">Enabled</th>
            <th class="guid">GUID</th>
        </tr>
        {% for module in project.modules %}
        {% if module.enabled == 'yes' %}
        <tr>
            <td><a href="../modules/{{ module.guid }}.html">{{ module.name }}</a></td>
            <td class="enabled">{{ module.enabled }}</td>
            <td class="guid">{{ module.guid }}</td>
        </tr>
        {% else %}
        <tr>
            <td class="disabled"><a href="../modules/{{ module.guid }}.html">{{ module.name }}</a></td>
            <td class="disabled enabled">{{ module.enabled }}</td>
            <td class="disabled enabled guid">{{ module.guid }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

</div>
</body>
</html>