{# Template for PWRSHELL tasks #}
    <table>
        <tr><td class="label-PWRSHELL">Source</td><td>{{ pwrshell.source }}</td></tr>
        {% if pwrshell.source == "Resource File" %}
            <tr><td class="label-PWRSHELL">Resource Name</td><td>{{ pwrshell.resourcename }}</td></tr>
            <tr><td class="label-PWRSHELL">Resource GUID</td><td>{{ pwrshell.resourceguid }}</td></tr>
        {% endif %}
    </table>
    {% highlight 'powershell', lineno='table' %}{{ pwrshell.code }}{% endhighlight %}