{# Template for PWRSHELL tasks #}
    <TR>
        <TD class="c1">Source</TD>
        <TD class="c2">{{ pwrshell.source }}</TD>
    </TR>
    {% if pwrshell.source == "Resource File" %}
    <TR>
        <TD class="c1">Resource Name</TD>
        <TD class="c2">{{ pwrshell.resourcename }}</TD>
    </TR>
    <TR>
        <TD class="c1">Resource GUID</TD>
        <TD class="c2">{{ pwrshell.resourceguid }}</TD>
    </TR>
    {% endif %}
    <TR>
        <TD colspan="2">{% highlight 'powershell', lineno='table' %}{{ pwrshell.code }}{% endhighlight %}</TD>
    </TR>