{# Template for PWRSHELL tasks #}
    <table>
        <TR><TD class="label-PWRSHELL">Source</TD><TD>{{ pwrshell.source }}</TD></TR>
        {% if pwrshell.source == "Resource File" %}
            <TR><TD class="label-PWRSHELL">Resource Name</TD><TD>{{ pwrshell.resourcename }}</TD></TR>
            <TR><TD class="label-PWRSHELL">Resource GUID</TD><TD>{{ pwrshell.resourceguid }}</TD></TR>
        {% endif %}
    </table>
    {% highlight 'powershell', lineno='table' %}{{ pwrshell.code }}{% endhighlight %}